// Navigation Styles here

.full-header {
    width: 100%;
    border-bottom: 2px dashed @navigation-border;
    padding-bottom: 2rem;

    nav {
        .flex(row, space-between, center);
        max-width: 800px;
        width: 100%;
        margin: 2rem auto 0 auto;

        .header-box {
            width: 49%;
            a {
                font-size: 1.5rem;
                color: black;
                padding: 2rem;
                &:link {
                    text-decoration: none;
                }
                &:hover {
                    background-color: @hover-color;
                    border: 0.5px solid black;
                    border-radius: 10px;
                }
            }
        }

        @media @mobile {
            width: 100%;
            .flex(column, center, center);
            display: flex;

            .header-box {
                width: 100%;
                text-align: center;
            }

            h1 {
                padding-bottom: 1rem;
            }
        }
    }
}