// Navigation Styles here

.full-header {
    width: 100%;
    border-bottom: 2px dashed @navigation-border;
    padding-bottom: 2rem;

    .nav-container {
        height: 100%;
        .flex(row, space-between, center);
        // max-width: 800px;
        // width: 100%;
        // margin: 2rem auto 0 auto;

        @media @mobile {
            width: 100%;
            justify-content: center;
            .flex(column, center, center);
            padding-top: 10px;
        }

        .logo {
            @media @mobile {
                font-size: 3rem;
                margin-bottom: 2rem;
            }
        }

        nav {
            width: 350px;
            display: flex;
            justify-content: space-evenly;

            @media @mobile {
                width: 100%;
                justify-content: space-around;
            }

            a {
                font-size: 1.6rem;
                color: @font-color;
                &:link {
                    text-decoration: none;
                }
                &:hover {
                    background-color: @hover-color;
                    border: 0.5px solid black;
                    border-radius: 10px;
                }
            }
        }
    }
}
